body {
    background-color: rgba(0,183,255, 1);
    background-image: url("./images/MernBackground.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}